﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ambiente de Pagamento</title>
    @Styles.Render("~/bundles/radioBtn")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

    <script>
        $(function () {

        });
    </script>

</head>
<body>
    <div class="card text-center" align="center" style="margin-top:5%">
        <div class="card-header">
            Adtalem Ambiente de Pagamento
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block">
                            <div><img src="~/Content/Logos/adtalemLogo.png" alt="Adtalem" /></div>
                            <p class="card-text">Você está no ambiente seguro de pagamento, verifique as informações abaixo</p>
                            <div id="divInfoPayments" style="display:inline-block">
                                @if (ViewBag.erro == null)
                                {
                                    <table>
                                        <tr>
                                            <td><p class="card-text">Loja: @ViewData["MID"]</p></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text">Você chegou até aqui através do: @ViewData["SYSTEM"]</p></td>
                                        </tr>
                                    </table>
                                }
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="col-sm-6">
                    @RenderBody()
                </div>
            </div>
            <div class="card-footer text-muted">
                Adtalem Brasil
            </div>
        </div>
    </div>
</body>
</html>
