﻿
@{
    ViewBag.Title = "ByOneClick";
    Layout = "~/Views/Shared/Information.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppForm</title>

</head>
<body>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Digite suas informações</h3>
            <p class="card-text">Verifique se as informações estão de pagamentos corretas.</p>
            <div id="divMethodPayment" style="display:inline-block">
                @using (Html.BeginForm("Sale", "CieloSales", FormMethod.Post))
                {
                    <div style="width:60%">
                        @*<form>*@
                        <input type="hidden" name="orderId" value="@Session["orderId"]" />
                        <input type="hidden" name="amount" value="@Session["amount"]" />
                        <input type="hidden" name="description" value="@Session["description"]" />
                        <input type="hidden" name="mId" value="@Session["mId"]" />
                        <input type="hidden" name="mKey" value="@Session["mKey"]" />
                        <input type="hidden" name="postBackUrl" value="@Session["postBackUrl"]" />
                        <input type="hidden" name="identity" value="@Session["identity"]" />
                        <input type="hidden" name="installments" value="@Session["installments"]" />
                        <input type="hidden" name="name" value="@Session["name"]" />
                        <input type="hidden" name="ApplicationId" value="@Session["ApplicationId"]" />
                        <div class="form-group">
                            <label class="sr-only" for="cardTokenInput">CardToken</label>
                            <div class="input-group">
                                <div class="input-group-addon">CardToken</div>
                                <input type="text" name="cardToken" value="@ViewData["cardToken"]" onfocus="this.value = '';" class="form-control" id="cardTokenInput" placeholder="Card-Token" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="cvvInput">CardToken</label>
                            <div class="input-group">
                                <div class="input-group-addon">CVV</div>
                                <input type="text" name="cvv" onfocus="this.value = '';" class="form-control" id="cvvInput" placeholder="cvv" required />
                            </div>
                        </div>

                        <div align="right">
                            <button type="submit" class="btn btn-primary">Finalizar</button>
                        </div>
                        @*</form>*@
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>