﻿
@{
    Layout = "~/Views/Shared/Information.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Digite suas informações</h3>
            <p class="card-text">Erros ocorreram durante o pagamento, o administrador do sistema foi notificado.</p>
            <div id="divMethodPayment">
                @using (Html.BeginForm("PostBack", "Authorization", FormMethod.Get))
                {
                    <i class="fa fa-thumbs-o-down fa-5x"></i>
                    <br />
                    <br />
                    <input type="submit" class="btn-warning" value="voltar" />
                    <input type="hidden" value="@ViewData["postBackUrl"]" name="urlPostBack" />
                }
                
            </div>
        </div>
    </div>

</body>
</html>
