﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sale</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <div class="card text-center" align="center" style="margin-top:5%">
        <div class="card-header">
            Adtalem Ambiente de Pagamento
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block">
                            <div><img src="~/Content/Logos/adtalemLogo.png" alt="Adtalem" /></div>
                            <p class="card-text">Você está no ambiente seguro de pagamento, verifique as informações abaixo</p>
                            <div id="divInfoPayments" style="display:inline-block">                           
                                @using (Html.BeginForm())
                                {
                                    if (ViewData["success"].ToString().Equals("true"))
                                    {
                                        <table>
                                            <tr>
                                                <td>O seu pagamento processado corretamente</td>
                                            </tr>
                                        </table>
                                    }
                                    else
                                    {
                                        <table>
                                            <tr>
                                                <td>O seu pagamento não foi processado corretamente</td>
                                            </tr>
                                        </table>
                                    }
                                    <table>
                                        <tr>
                                            <td><p class="card-text">Loja: @ViewData["orderId"]</p></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text">TID: @ViewData["tid"]</p></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text">Código do pagamento: @Session["paymentId"].ToString()</p></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text">Dados Adicionais: @ViewData["message"]</p></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text">Tipo de Pagamento: Pagamento débito online</p></td>
                                        </tr>
                                    </table>
                                }
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Verifique as informações</h3>
                            @using (Html.BeginForm("PostBack", "Authorization", FormMethod.Get))
                            {
                                if (ViewData["success"].ToString().Equals("true"))
                                {
                                    <p class="card-text">Pagamento Finalizado com sucesso verifique as informações no card ao lado.</p>
                                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <p class="card-text">
                                        Algo errado aconteceu durante a requisição.
                                        <br />
                                        Verifique se o seu cartão está desbloqueado para esse tipo de operação.
                                    </p>
                                    <i class="fa fa-thumbs-o-down fa-5x" aria-hidden="true"></i>
                                }
                                <br />
                                <br />
                                <input type="submit" class="btn-warning" value="voltar" />
                                <input type="hidden" value="@ViewData["postBackUrl"]" name="urlPostBack" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Adtalem Brasil
            </div>
        </div>
    </div>
</body>
</html>
