﻿

@{
    Layout = "~/Views/Shared/Information.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppForm</title>
    <link href="~/Content/CSS/SwitchStyle.css" rel="stylesheet" />
    
    <script>
        $(document).ready(function () {
            $('#inputAmount').maskMoney({ precision: 2, decimal: ',', thousands: '' });
        });

        function BoletoOnline() {
            $("#bankSlipDiv").append("<input type=hidden id=bankSlip name=bankSlip value=true />");
        }

        function checkValues() {
            var amount = @Session["amount"].ToString();
            var sum = parseFloat(@Session["sumPayment"]) / 100.00;
            var total = parseFloat($("#inputAmount").val()) + parseFloat(sum);
            var control = true;

            if (total > amount && sum != amount) {
                control = false;
                $("#inputAmount").val('');
            }
            else if (sum == amount) 
                alert("O valor do pagamento total já foi realizado com sucesso");

            if (!control)
                alert("O somatório dos pagamentos devem ser iguais ao valor total");
            return control;
        }
    </script>

    <script>
        function allowHybrid() {
            var sumPayment = @Session["sumPayment"];
            if ($("#amountDiv").css("display") == "none") {
                $("#amountDiv").show();
                $("#inputAmount").attr("required", true);
                $("#bankSlipDiv").hide();
            }
            else {
                $("#amountDiv").hide();
                $("#inputAmount").attr("required", false);
                if (parseFloat(sumPayment) > 0) 
                    $("#bankSlipDiv").hide();
                else
                    $("#bankSlipDiv").show();
            }
        }

        function verificaValor() {
            var elemento = document.getElementsByName('cardNumber');
            var x = '';

            if ($(elemento).val() != "")
                x = getCreditCardLabel($(elemento).val());

            $("#imgBrand").remove();

            if (x != 'error' && x != "") {
                $("#cardNumber").show();
            }
            else {
                $("#cardNumber").hide();
            }

            if (x == 'VISA') {
                $("#cardNumber").append("<input type=hidden name=brand value=VISA />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-visa");
            }
            else if (x == ('MASTER').toUpperCase()) {
                $("#cardNumber").append("<input type=hidden name=brand value=MASTER />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-mastercard");
            }
            else if (x == 'AMEX') {
                $("#cardNumber").append("<input type=hidden name=brand value=AMEX />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa fa-cc-amex aria- hidden=true");
            }
            else if (x == 'DINERS') {
                $("#cardNumber").append("<input type=hidden name=brand value=DINERS />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-diners-club");
            }
            else if (x == 'DISCOVER') {
                $("#cardNumber").append("<input type=hidden name=brand value=DISCOVER />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-discover");
            }
            else if (x == 'JCB') {
                $("#cardNumber").append("<input type=hidden name=brand value=JCB />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-jcb");
            }
            else if (x == 'HIPER') {
                $("#cardNumber").append("<input type=hidden name=brand value=HIPER />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-credit-card-alt");
            }
            else if (x == 'ELO') {
                $("#cardNumber").append("<input type=hidden name=brand value=ELO />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-credit-card-alt");
            }
            else if (x == 'error') {
                alert('Não foi possível identificar a bandeira do cartão, verifique se o cartão foi digitado corretamente');
            }

        }
        function getCreditCardLabel(cardNumber) {
            var regexElectron = /^(4026|417500|4405|4508|4844|4913|4917)\d+$/;
            var regexMaestro = /^(5018|5020|5038|5612|5893|6304|6759|6761|6762|6763|0604|6390)\d+$/;
            var regexElo = /^(636368|438935|504175|451416|636297|5067|4576|4011)\d+$/;
            var regexDankort = /^(5019)\d+$/;
            var regexInterpayment = /^(636)\d+$/;
            var regexUnionpay = /^(62|88)\d+$/;
            var regexVisa = /^4[0-9]{12}(?:[0-9]{3})?$/;
            var regexMastercard = /^5[1-5][0-9]{14}$/;
            var regexAmex = /^3[47][0-9]{13}$/;
            var regexDiners = /^3(?:0[0-5]|[68][0-9])[0-9]{11}$/;
            var regexDiscover = /^6(?:011|5[0-9]{2})[0-9]{12}$/;
            var regexJcb = /^(?:2131|1800|35\d{3})\d{11}$/;

            if (regexVisa.test(cardNumber) || regexElectron.test(cardNumber)) {
                return 'VISA';
            }
            if (regexMastercard.test(cardNumber) || regexMaestro.test(cardNumber)) {
                return 'MASTER';
            }
            if (regexAmex.test(cardNumber)) {
                return 'AMEX';
            }
            if (regexDiners.test(cardNumber)) {
                return 'DINERS';
            }
            if (regexDiscover.test(cardNumber)) {
                return 'DISCOVER';
            }
            if (regexJcb.test(cardNumber)) {
                return 'JCB';
            }
            if (regexElo.test(cardNumber)) {
                return 'ELO';
            }

            return 'error';

        }
    </script>

</head>
<body>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Digite suas informações</h3>
            <p class="card-text">Verifique se as informações de pagamentos estão corretas.</p>
            <div id="divMethodPayment" style="display:inline-block">
                @using (Html.BeginForm("Sale", "CieloSales", FormMethod.Post))
                {
                    <input type="hidden" name="orderId" value="@Session["orderId"]" />
                    <input type="hidden" name="amount" value="@Session["amount"]" />
                    <input type="hidden" name="description" value="@Session["description"]" />
                    <input type="hidden" name="mId" value="@Session["mId"]" />
                    <input type="hidden" name="mKey" value="@Session["mKey"]" />
                    <input type="hidden" name="postBackUrl" value="@Session["postBackUrl"]" />
                    <input type="hidden" name="identity" value="@Session["identity"]" />
                    <input type="hidden" name="installments" value="@Session["installments"]" />
                    <input type="hidden" name="name" value="@Session["name"]" />
                    <input type="hidden" name="ApplicationId" value="@Session["ApplicationId"]" />
                    if (Session["zipCode"] != null)
                    {
                        <input type="hidden" name="zipCode" value="@Session["zipCode"]" />
                    }
                    <div style="width:60%">
                        <div class="form-group">
                            <label class="sr-only" for="nameInput">Nome</label>
                            <div class="input-group">
                                <div class="input-group-addon">Nome</div>
                                <input type="text" name="holder"
                                       onfocus="this.value = '';"
                                       class="form-control"
                                       id="nameInput"
                                       placeholder="Nome do portador" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cardNumberInput">Número</label>
                            <div class="input-group">
                                <div class="input-group-addon">Número</div>
                                <input type="text" name="cardNumber" maxlength="16" size="16"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       onfocusout="verificaValor()"
                                       onfocus="this.value = '';"
                                       class="form-control" id="cardNumberInput"
                                       placeholder="Número do Cartão">
                                <div id="cardNumber" style="display:none" class="input-group-addon"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="dateInput">Data</label>
                            <div class="input-group">
                                <div class="input-group-addon">Data</div>
                                <input type="month" name="ExpirationDate"
                                       onfocus="this.value = '';"
                                       class="form-control"
                                       id="dateInput"
                                       placeholder="Mês/Ano">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cvvInput">Código</label>
                            <div class="input-group">
                                <div class="input-group-addon">Código</div>
                                <input type="text" name="Cvv"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       onfocus="this.value = '';" class="form-control"
                                       id="cvvInput" placeholder="CVV">
                            </div>
                        </div>

                        <div id="amountDiv" class="form-group" style="display:none">
                            <label class="sr-only" for="exampleInputAmount">Valor (em Reais)</label>
                            <div class="input-group">
                                <div class="input-group-addon">R$</div>
                                <input type="text" onfocusout="checkValues()"
                                       name="partialAmount"
                                       onfocus="this.value = '';"
                                       class="form-control"
                                       id="inputAmount" placeholder="valor">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="rdCredit" value="creditValue" name="radiobtn" checked="">
                                    <label for="rdCredit"> Crédito </label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="rdDebit" value="debitValue" name="radiobtn">
                                    <label for="rdDebit"> Débito </label>
                                </div>
                            </div>
                        </div>
                        <div align="right">
                            <button type="submit" class="btn btn-primary">Finalizar</button>
                        </div>
                        <br />
                        @if(Session["HybridEnabled"] != null) 
                        {
                            <div class="form-group pag-hib" align="left">
                                <p class="item">Habilitar pagamentos Híbridos</p>
                                <label class="switch item">
                                    <input type="checkbox" onchange="allowHybrid()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        }

                        @if (Session["BankSlipEnabled"] != null && Convert.ToDouble(Session["sumPayment"]) <= 0)
                        {
                            if (Session["BankSlipEnabled"].ToString().Equals("True"))
                            {
                                <div style="width:100%">
                                    <hr align="center" size="1" color=gray>
                                </div>
                                <div class="row" id="bankSlipDiv">
                                    <p>
                                        <button type="submit" onclick="BoletoOnline()" class="btn btn-default">
                                            <span class="fa fa-barcode" aria-hidden="true"></span> Boleto
                                        </button>
                                    </p>
                                </div>
                            }
                        }

                        @if (Session["hybridPayment"] != null)
                        {
                            if (Session["hybridPayment"].ToString().Equals("true"))
                            {
                                string percentFin = "0";
                                double percentAux = 0.0;

                                <br />
                                foreach (var value in ViewBag.Payments)
                                {
                                    if (@value.Status == 2)
                                    {
                                        double percent = ((@value.Amount / 100)/ Convert.ToDouble(Session["amount"])) * 100;
                                        percentAux += percent;

                                    }
                                    else
                                    {
                                        <script>
                                            alert("Pagamento não autorizado!");
                                        </script>
                                    }
                                }
                                if (percentAux > 0)
                                {
                                    percentFin = Convert.ToInt16(percentAux).ToString();
                                    <div id="pgrDiv" class="my-progress">
                                        <div class="my-progress-bar my-progress-bar-info" data-toggle="modal" data-target=".bs-example-modal-lg" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:@percentFin%">
                                            @percentAux.ToString("F1")% do valor total foi pago.
                                        </div>
                                    </div>
                                }
                                List<GatewayFront.Models.Payment> listP = (List<GatewayFront.Models.Payment>)@Session["generalList"];
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div align="center" style="margin-top:5%">
                                                <table class="table table-hover" style="width:75%">
                                                    <thead>
                                                        <tr>
                                                            <th>Tid</th>
                                                            <th>Valor em (R$)</th>
                                                            <th>Código</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var val in listP)
                                                        {
                                                            <tr>
                                                                <td>@val.Tid</td>
                                                                <td>@(val.Amount / 100.00)</td>
                                                                <td>@val.PaymentId</td>
                                                                <td>
                                                                    @if (@val.Status == 2)
                                                                    {
                                                                        <i class="fa fa-thumbs-o-up"></i>
                                                                    }
                                                                    else
                                                                    { <i class="fa fa-thumbs-o-down"></i> }

                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
