﻿
@{
    Layout = "~/Views/Shared/Information.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppForm</title>

    <script type="text/javascript">
        function verificaValor(elemento) {
            var x = getCreditCardLabel($(elemento).val());

            var element = document.getElementById("#imgBrand");
            if (element != null) {
                $("#imgBrand").remove();
            }
            else {
                $("#imgBrand").remove();
            }

            if (x != null) {
                $("#cardNumber").show();
            }
            else {
                $("#cardNumber").hide();
            }

            if (x == 'visa') {
                $("#cardNumber").append("<input type=hidden name=brand value=visa />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-visa");
            }
            else if (x == 'master') {
                $("#cardNumber").append("<input type=hidden name=brand value=master />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-mastercard");
            }
            else if (x == 'amex') {
                $("#cardNumber").append("<input type=hidden name=brand value=amex />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa fa-cc-amex aria- hidden=true");
            }
            else if (x == 'diners') {
                $("#cardNumber").append("<input type=hidden name=brand value=diners />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa-cc-diners-club");
            }
            else if (x == 'discover') {
                $("#cardNumber").append("<input type=hidden name=brand value=discover />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa-cc-discover");
            }
            else if (x == 'jcb') {
                $("#cardNumber").append("<input type=hidden name=brand value=jcb />");
                $("#cardNumber").append("<i id=imgBrand></i>");
                $("#imgBrand").addClass("fa fa-cc-jcb");
            }

        }

        function getCreditCardLabel(cardNumber) {

            var regexVisa = /^4[0-9]{12}(?:[0-9]{3})?/;
            var regexMaster = /^5[1-5][0-9]{14}/;
            var regexAmex = /^3[47][0-9]{13}/;
            var regexDiners = /^3(?:0[0-5]|[68][0-9])[0-9]{11}/;
            var regexDiscover = /^6(?:011|5[0-9]{2})[0-9]{12}/;
            var regexJCB = /^(?:2131|1800|35\d{3})\d{11}/;

            if (regexVisa.test(cardNumber)) {
                return 'visa';
            }
            if (regexMaster.test(cardNumber)) {
                return 'master';
            }
            if (regexAmex.test(cardNumber)) {
                return 'amex';
            }
            if (regexDiners.test(cardNumber)) {
                return 'diners';
            }
            if (regexDiscover.test(cardNumber)) {
                return 'discover';
            }
            if (regexJCB.test(cardNumber)) {
                return 'jcb';
            }

            return '';

        }
    </script>

</head>
<body>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Digite suas informações</h3>
            <p class="card-text">Verifique se as informações estão de pagamentos corretas.</p>
            <div id="divMethodPayment" style="display:inline-block">
                @using (Html.BeginForm("Sale", "CieloSales", FormMethod.Post))
                {
                    <input type="hidden" name="orderId" value="@Session["orderId"]" />
                    <input type="hidden" name="amount" value="@Session["amount"]" />
                    <input type="hidden" name="description" value="@Session["description"]" />
                    <input type="hidden" name="mId" value="@Session["mId"]" />
                    <input type="hidden" name="mKey" value="@Session["mKey"]" />
                    <input type="hidden" name="postBackUrl" value="@Session["postBackUrl"]" />
                    <input type="hidden" name="identity" value="@Session["identity"]" />
                    <input type="hidden" name="installments" value="@Session["installments"]" />
                    <div style="width:60%">
                        @*<form>*@

                        <div class="form-group">
                            <label class="sr-only" for="nameInput">Nome</label>
                            <div class="input-group">
                                <div class="input-group-addon">Nome</div>
                                <input type="text" name="holder" onfocus="this.value = '';" class="form-control" id="nameInput" placeholder="Nome do portador" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cardNumberInput">Número</label>
                            <div class="input-group">
                                <div class="input-group-addon">Número</div>
                                <input type="text" name="cardNumber" maxlength="16" size="16" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="verificaValor(this)" onfocus="this.value = '';" class="form-control" id="cardNumberInput" placeholder="Número do Cartão">
                                <div id="cardNumber" style="display:none" class="input-group-addon"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="dateInput">Data</label>
                            <div class="input-group">
                                <div class="input-group-addon">Data</div>
                                <input type="month" name="ExpirationDate" onfocus="this.value = '';" class="form-control" id="dateInput" placeholder="Mês/Ano">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cvvInput">Código</label>
                            <div class="input-group">
                                <div class="input-group-addon">Código</div>
                                <input type="text" name="Cvv" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onfocus="this.value = '';" class="form-control" id="cvvInput" placeholder="CVV">
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" name="value" onfocus="this.value = '';" class="form-control" id="exampleInputAmount" placeholder="Amount">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="rdCredit" value="creditValue" name="radiobtn" checked="">
                                    <label for="rdCredit"> Crédito </label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="rdDebit" value="debitValue" name="radiobtn">
                                    <label for="rdDebit"> Débito </label>
                                </div>
                            </div>
                        </div>
                        <div align="right">
                            <button type="submit" class="btn btn-primary">Finalizar</button>
                        </div>
                        <br />
                        
                        @if (Session["BankSlipEnabled"] != null)
                        {
                            if (Session["BankSlipEnabled"].ToString().Equals("False"))
                            {
                                <div style="width:100%">
                                    <hr align="center" size="1" color=gray>
                                </div>
                                <div class="row">
                                    <p>
                                        <button type="submit" class="btn btn-default">
                                            <span class="fa fa-barcode" aria-hidden="true"></span> Boleto
                                        </button>
                                    </p>
                                </div>
                                <input type="hidden" id="bankSlip" name="bankSlip" value="true"/>
                            }
                        }
                        @*</form>*@
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
